html {
  font-family: sans-serif;
  color: $color-grey;
}

body {
  font-size: $default-font-size;
}

h1,
.font-size-1 {
  font-size: 6rem;
  margin: 2rem 0;
}

h2,
.font-size-2 {
  font-size: 5rem;
  margin: 2rem 0;
}

h3,
.font-size-3 {
  font-size: 4.5rem;
  margin: 2rem 0;
}

h4,
.font-size-4 {
  font-size: 4rem;
  margin: 1.75 0;
}

h5,
.font-size-5 {
  font-size: 3.5rem;
  margin: 1.5rem 0;
}

h6,
.font-size-6 {
  font-size: 3rem;
  margin: 1.5rem 0;
}

h7,
.font-size-7 {
  font-size: 2.5rem;
  margin: 1.5rem 0;
}

.caption {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}